<DOCTYPE HTML>
    <html lang="pt_br">

    <head>
      <meta charset="UTF-8">
      <title> AULA 1 </title>
      <h1> Interface Web </h1>

    </head>

    <body>
      
      <p> Aprendemos sobre como deve ser uma página inicial do site e como funciona as tags.</p>
      <p> abaixo faremos uma lista com as palavras-chave da aula:</p>
      <ol>
       <li> indentação</li>
       <li> professora</li>
       <li> tags</li>
       <li> html</li>
       <li> body</li>
       <li> programação</li>
     </ol>
       <img src ="imagem1.png"
    </body>

   </html>